@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 159 93% 35%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 90.1%;
    --muted-foreground: 0 0% 90%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 90.8%;
    --input: 0 0% 99.5%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 100%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover-foreground: 0 0% 98%;

    --primary: 162 76% 37%;

    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 85%;

    --accent: 0 0% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 14%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .card {
    @apply absolute flex h-[26rem] w-[44rem] flex-row justify-between rounded-lg border border-neutral-600 bg-neutral-800 stroke-[0.1] p-8 hover:stroke-[0.15];
  }
  @property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
  }

  .landing-text {
    @apply text-[#B8CEC1];
  }

  .landing-background {
    @apply bg-[#0B363C];
  }

  .animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
  }

  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
    60% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-5px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }

  .animate-float {
    animation: float 3s ease-in infinite;
  }

  .perspective {
    --phone-scale: 0.6;
    perspective-origin: 50%;
    perspective: 3000px;
    transform: translateZ(0) scale(var(--phone-scale));
    will-change: transform;
    margin-top: calc(-422px * (1 - var(--phone-scale)));
    margin-bottom: calc(-422px * (1 - var(--phone-scale)));
  }

  .iphone-x {
    position: relative;
    width: 320px;
    height: 675px;
    background-color: #7371ee;
    border-radius: 40px;
    box-shadow:
      0 0 0 8px #212121,
      0 0 0 10px #414141;
  }

  .iphone-x:before,
  .iphone-x:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  .iphone-x:after {
    bottom: 7px;
    width: 140px;
    height: 4px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  .iphone-x:before {
    top: 0;
    width: 56%;
    height: 30px;
    background-color: #1f1f1f;
    border-radius: 0 0 40px 40px;
  }

  .iframe-responsive {
    position: relative;
    padding-bottom: 56.25%;
  }

  .iframe-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .bg-glass {
    @apply bg-gradient-to-b from-white/15 to-white/20 backdrop-blur-3xl dark:from-neutral-800/50 dark:to-neutral-900/50;
  }

  .bg-glass-secondary {
    @apply bg-white/25 backdrop-blur-3xl dark:bg-neutral-700/50;
  }

  .border-glass {
    @apply border-white/10 dark:border-white/5;
  }

  .glassmorphism-secondary {
    @apply border border-white/10 bg-white/5 text-neutral-50 dark:border-white/5 dark:bg-black/10 dark:text-neutral-300;
  }

  .glassmorphism {
    @apply border border-white/20  bg-white/15 text-neutral-50 backdrop-blur-xl dark:border-white/5 dark:bg-black/15 dark:text-neutral-300;
  }

  .glitch-effect {
    position: relative;
    padding: 10px 0;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .glitch-effect:before,
  .glitch-effect:after {
    padding: 10px 0;
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    letter-spacing: 5px;
    overflow: hidden;
    top: 0;
  }
  .glitch-effect:before {
    left: 2px;
    text-shadow: -2px 0 #284bff;
    animation: glitch-1 2s linear infinite reverse;
  }
  .glitch-effect:after {
    left: -2px;
    text-shadow: -2px 0 #ff6c63;
    animation: glitch-2 2s linear infinite reverse;
  }
  @keyframes glitch-1 {
    0% {
      clip: rect(132px, 500px, 101px, 0px);
    }
    5% {
      clip: rect(17px, 500px, 94px, 0px);
    }
    10% {
      clip: rect(40px, 500px, 66px, 0px);
    }
    15% {
      clip: rect(87px, 500px, 82px, 0px);
    }
    20% {
      clip: rect(137px, 500px, 61px, 0px);
    }
    25% {
      clip: rect(34px, 500px, 14px, 0px);
    }
    30% {
      clip: rect(133px, 500px, 74px, 0px);
    }
    35% {
      clip: rect(76px, 500px, 107px, 0px);
    }
    40% {
      clip: rect(59px, 500px, 130px, 0px);
    }
    45% {
      clip: rect(29px, 500px, 84px, 0px);
    }
    50% {
      clip: rect(22px, 500px, 67px, 0px);
    }
    55% {
      clip: rect(67px, 500px, 62px, 0px);
    }
    60% {
      clip: rect(10px, 500px, 105px, 0px);
    }
    65% {
      clip: rect(78px, 500px, 115px, 0px);
    }
    70% {
      clip: rect(105px, 500px, 13px, 0px);
    }
    75% {
      clip: rect(15px, 500px, 75px, 0px);
    }
    80% {
      clip: rect(66px, 500px, 39px, 0px);
    }
    85% {
      clip: rect(133px, 500px, 73px, 0px);
    }
    90% {
      clip: rect(36px, 500px, 128px, 0px);
    }
    95% {
      clip: rect(68px, 500px, 103px, 0px);
    }
    100% {
      clip: rect(14px, 500px, 100px, 0px);
    }
  }
  @keyframes glitch-2 {
    0% {
      clip: rect(129px, 500px, 36px, 0px);
    }
    5% {
      clip: rect(36px, 500px, 4px, 0px);
    }
    10% {
      clip: rect(85px, 500px, 66px, 0px);
    }
    15% {
      clip: rect(91px, 500px, 91px, 0px);
    }
    20% {
      clip: rect(148px, 500px, 138px, 0px);
    }
    25% {
      clip: rect(38px, 500px, 122px, 0px);
    }
    30% {
      clip: rect(69px, 500px, 54px, 0px);
    }
    35% {
      clip: rect(98px, 500px, 71px, 0px);
    }
    40% {
      clip: rect(146px, 500px, 34px, 0px);
    }
    45% {
      clip: rect(134px, 500px, 43px, 0px);
    }
    50% {
      clip: rect(102px, 500px, 80px, 0px);
    }
    55% {
      clip: rect(119px, 500px, 44px, 0px);
    }
    60% {
      clip: rect(106px, 500px, 99px, 0px);
    }
    65% {
      clip: rect(141px, 500px, 74px, 0px);
    }
    70% {
      clip: rect(20px, 500px, 78px, 0px);
    }
    75% {
      clip: rect(133px, 500px, 79px, 0px);
    }
    80% {
      clip: rect(78px, 500px, 52px, 0px);
    }
    85% {
      clip: rect(35px, 500px, 39px, 0px);
    }
    90% {
      clip: rect(67px, 500px, 70px, 0px);
    }
    95% {
      clip: rect(71px, 500px, 103px, 0px);
    }
    100% {
      clip: rect(83px, 500px, 40px, 0px);
    }
  }

  @keyframes shake-animation {
    0% {
      transform: translateX(0);
    }
    60% {
      transform: translateX(0);
    }
    65% {
      transform: translateX(3px);
    }
    70% {
      transform: translateX(-3px);
    }
    75% {
      transform: translateX(3px);
    }
    80% {
      transform: translateX(-3px);
    }
    85% {
      transform: translateX(3px);
    }
    90% {
      transform: translateX(-3px);
    }
    95% {
      transform: translateX(3px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .shake-effect {
    animation: shake-animation 2.5s infinite;
  }
}
