@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 6%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 245% 52% 35%;
    --primary-foreground: 245% 52% 35%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 90.1%;
    --muted-foreground: 0 0% 25%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 90.8%;
    --input: 0 0% 99.5%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 100%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover-foreground: 0 0% 98%;

    --primary: 245% 52% 35%;
    --primary-foreground: 245% 52% 35%;

    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 85%;

    --accent: 0 0% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 14%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .card {
    @apply absolute flex h-[26rem] w-[44rem] flex-row justify-between rounded-lg border border-neutral-600 bg-neutral-800 stroke-[0.1] p-8 hover:stroke-[0.15];
  }
  @property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
  }

  .gradient-text {
    @apply bg-gradient-to-r from-foreground/75 to-foreground bg-clip-text text-transparent dark:from-indigo-200 dark:to-foreground;
  }

  .animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
  }

  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
    60% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-5px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }

  .animate-float {
    animation: float 3s ease-in infinite;
  }

  .box-shadow {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  }

  .perspective {
    --phone-scale: 0.6;
    perspective-origin: 50%;
    perspective: 3000px;
    transform: translateZ(0) scale(var(--phone-scale));
    will-change: transform;
    margin-top: calc(-422px * (1 - var(--phone-scale)));
    margin-bottom: calc(-422px * (1 - var(--phone-scale)));
  }

  .iphone-x {
    position: relative;
    width: 320px;
    height: 675px;
    background-color: #7371ee;
    border-radius: 40px;
    box-shadow:
      0 0 0 8px #212121,
      0 0 0 9px #3f51b5;
  }

  .iphone-x:before,
  .iphone-x:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  .iphone-x:after {
    bottom: 7px;
    width: 140px;
    height: 4px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  .iphone-x:before {
    top: 0;
    width: 56%;
    height: 30px;
    background-color: #1f1f1f;
    border-radius: 0 0 40px 40px;
  }

  .iframe-responsive {
    position: relative;
    padding-bottom: 56.25%;
  }

  .iframe-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .bg-glass {
    @apply bg-gradient-to-b from-white/15 to-white/20 backdrop-blur-3xl dark:from-neutral-800/50 dark:to-neutral-900/50;
  }

  .bg-glass-secondary {
    @apply bg-white/25 backdrop-blur-3xl dark:bg-neutral-700/50;
  }

  .border-glass {
    @apply border-white/10 dark:border-white/15;
  }

  .bg-gradient-fade {
    @apply bg-gradient-to-r from-transparent via-white/35 to-transparent dark:via-white/15;
  }

  .border-rotate {
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .border-rotate::before {
    overflow: hidden;
    content: "";
    background-image: conic-gradient(
      transparent 0deg,
      transparent 320deg,
      #ffee58 360deg
    );

    width: 400%;
    height: 400%;
    position: absolute;
    animation: rotate 6s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
