@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 159 93% 35%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 90.1%;
    --muted-foreground: 0 0% 90%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 90.8%;
    --input: 0 0% 99.5%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 100%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover-foreground: 0 0% 98%;

    --primary: 162 76% 37%;

    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 85%;

    --accent: 0 0% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 14%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .card {
    @apply absolute flex h-[26rem] w-[44rem] flex-row justify-between rounded-lg border border-neutral-600 bg-neutral-800 stroke-[0.1] p-8 hover:stroke-[0.15];
  }
  @property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
  }

  .landing-text {
    @apply text-[#B8CEC1];
  }

  .landing-background {
    @apply bg-[#0B363C];
  }

  .animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
  }

  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
    60% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-5px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }

  .animate-float {
    animation: float 3s ease-in infinite;
  }

  .perspective {
    --phone-scale: 0.6;
    perspective-origin: 50%;
    perspective: 3000px;
    transform: translateZ(0) scale(var(--phone-scale));
    will-change: transform;
    margin-top: calc(-422px * (1 - var(--phone-scale)));
    margin-bottom: calc(-422px * (1 - var(--phone-scale)));
  }

  .iphone-x {
    position: relative;
    width: 320px;
    height: 675px;
    background-color: #7371ee;
    border-radius: 40px;
    box-shadow:
      0 0 0 8px #212121,
      0 0 0 10px #414141;
  }

  .iphone-x:before,
  .iphone-x:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  .iphone-x:after {
    bottom: 7px;
    width: 140px;
    height: 4px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  .iphone-x:before {
    top: 0;
    width: 56%;
    height: 30px;
    background-color: #1f1f1f;
    border-radius: 0 0 40px 40px;
  }

  .iframe-responsive {
    position: relative;
    padding-bottom: 56.25%;
  }

  .iframe-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .bg-glass {
    @apply bg-gradient-to-b from-white/15 to-white/20 backdrop-blur-3xl dark:from-neutral-800/50 dark:to-neutral-900/50;
  }

  .border-glass {
    @apply border-white/10 dark:border-white/5;
  }

  .glassmorphism-secondary {
    @apply border border-white/10 bg-white/5 text-neutral-50 dark:border-white/5 dark:bg-black/5 dark:text-neutral-300;
  }

  .glassmorphism {
    @apply border border-white/15  bg-white/10 text-neutral-50 backdrop-blur-xl dark:border-white/5 dark:bg-black/10 dark:text-neutral-300;
  }

  .glitch-effect {
    font-size: 8rem;
    font-weight: 700;
    position: relative;
    text-shadow:
      0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 500ms infinite;
  }

  .glitch-effect span {
    position: absolute;
    top: 0;
    left: 0;
  }

  .glitch-effect span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    /* color: green; */
    opacity: 0.8;
  }

  .glitch-effect span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    /* color: red; */
    opacity: 0.8;
  }

  /* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

  @keyframes glitch {
    0% {
      text-shadow:
        0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
      text-shadow:
        0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
      text-shadow:
        -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
      text-shadow:
        -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
      text-shadow:
        0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75),
        0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
      text-shadow:
        0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75),
        0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
      text-shadow:
        -0.025em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }

  .shake-effect {
    animation: shake-animation 2.5s infinite;
  }

  @keyframes shake-animation {
    0% {
      transform: translateX(0);
    }
    60% {
      transform: translateX(0);
    }
    65% {
      transform: translateX(3px);
    }
    70% {
      transform: translateX(-3px);
    }
    75% {
      transform: translateX(3px);
    }
    80% {
      transform: translateX(-3px);
    }
    85% {
      transform: translateX(3px);
    }
    90% {
      transform: translateX(-3px);
    }
    95% {
      transform: translateX(3px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .rainbow-effect {
    animation: rainbow-color-change 6s ease-in-out infinite;
  }

  @keyframes rainbow-color-change {
    0% {
      color: #6666ff;
    }
    20% {
      color: #0099ff;
    }
    40% {
      color: #00ff00;
    }
    60% {
      color: #ff3399;
    }
    80% {
      color: #ff6600;
    }
    100% {
      color: #6666ff;
    }
  }
}
